<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="#{app.title}"></title>
</head>
<body>
	
	<h1 th:text="#{app.create-user}">Create</h1>
	
	<form action="#" th:action="@{/users/create}" th:object="${user}" method="POST">
		
		<label>ID: </label>
		<input type="text" th:field="*{userId}" />
		
		<label>Username: </label>
		<input type="text" th:field="*{userName}" />
		
		<label>Gender: </label>
		<input type="radio" th:field="*{gender}" value="Male"/>
		<input type="radio" th:field="*{gender}" value="Female"/>
		
		<label>Married: </label>
		<input type="checkbox" th:field="*{married}" /> 
		 
		 <label>Profile: </label>
		 <select th:field="*{profile}">
		 	<option th:each="profile : ${profiles}" th:value="${profile}" th:text="${profile}">Profile</option>
		 </select>
		 
		 <input type="submit" th:value="#{user.form.submit}"/>
	     <input type="reset" th:value="#{user.form.reset}"/>
	     
	</form>
</body>
</html>